@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
body{
    margin:0;
    padding:0;
}
.btns{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
} 
.btns a{
    width:60px;
    height:60px;
    font-size: 40px;
    color:#313131;
    text-align: center;
    display: block;
    float:left;
    line-height: 60px;
    border:4px solid;
    border-radius: 50%;
    margin:10px; 
    position: relative;
    overflow: hidden;
}
.btns a::after{
    content:"";
  position:absolute;
    top:50%;
    left:50%;
    width:0%;
    height:0%;
    transform: translate(-50%,-50%);
    background:#27ae60;
    z-index: -1;
    transition: 0.4s all;
    border-radius: 50%;
}

.btns a:hover::after{
    width:100%;
    height:100%;
}